<%= turbo_frame_tag params[:turbo_frame] do %>
  <div class="flex flex-col">
    <div class="flex flex-col">
      <%= content_tag :div, id: dom_id(@record, :comments) do %>
        <%= render partial: "comments", locals: {record: @record} %>
      <% end %>
    </div>
    <br>
    <%= render "form", comment: @comment, record: @record %>
  </div>
<% end %>
